blogPost {
  /* Common styles for h2, pre, and p */
  margin: 10px;
  padding: 10px;
}

.blogPost h2 {
  /* Styles for h2 inside .blogPost */
  color: #333;
  /* Example text color */

}


.blogPost pre {
  /* Styles for pre inside .blogPost */
  background-color: slategray;
  color: white;
  /* Example text color for better visibility on the slate gray background */
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
  /* Enable horizontal scroll for large code blocks */
}

.blogPost p {
  /* Styles for p inside .blogPost */
  line-height: 1.5;
}