@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;600;700&family=Old+Standard+TT&family=Roboto:wght@300&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


::selection {
  background: #e0e0e0;
}


.beautify-button{
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  background: inherit;
  border-radius: calc(var(--geist-radius) - 1px);
  background: linear-gradient(-90deg,#007cf0,#00dfd8,#ff0080,#007cf0);
  background-size: 400% 100%;
  border: none;
  padding: 0;
  margin: 0;
  animation: collaboration-button_backgroundAnim__JOflA 8s ease-in-out infinite;
}




.navigation li > a:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #0c4a6e;
}


.navigation li > a:hover::after {
  width: 100%;
  transition: width .6s;
}

.navigation > li > a {
   display: inline-block;
}

/*  CSS for screen size 768px and above */




.nav{ grid-area: nav; } 


 .timeline-container {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 50px;

  }


  .content{
  /* padding: 20px 30px; */
  display: flex;
    flex-direction: row;
    column-gap: 5%;
    text-align: justify;
}

.content > .time {
  font-family: 'JetBrains Mono','Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 10px;
min-width: 120px;
  /* Keep text within div */
  /* white-space: nowrap; */
text-align: right;
}
 

  .event>h4{
    font-family: 'JetBrains Mono','Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 12px;
    margin: 0;
    padding: 1%;
  }

  .event>h5{
    font-family: 'JetBrains Mono','Courier New', Courier, monospace;
    color: rgb(100 116 139);
    font-weight: bold;
    font-size: 12px;
    margin: 0;
 
    padding: 1%;
  }

  .event>p{
    font-size: 12px;
    padding: 1%;
    font-weight: 400;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    color: rgb(118, 128, 141);
  }
  .event>img{
    min-height: 70px;
  }
 
 

/* CSS for screen size 540px and below */
@media screen and (max-width: 540px) {
  .timeline-container {
    /* padding: 10px 40px; */
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 50px;
    /* Align the items in container to top */
  
    }


  .main{
    flex-direction: column;
    row-gap: 1rem;
    width: 100vw; 

   }

   .nav{
    display: none;
  }
   .about{
    padding-left: 0;
    padding: 2rem;
  }

   .intro{
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
 
   }
  .photo{
    width:70%;
    height:70%;
  }
  .name { padding-left: 0; text-align: center; }
}



/* CSS for tablet */
@media screen and (min-width: 540px) and (max-width: 1200px) {
 .main{
  flex-direction: column;
  row-gap: 1rem;
  width: 100vw; 

 }
 .intro {
  display: grid; 
  min-width: 80vw;
  row-gap: 2rem;  
  
 
}




}



