@import url('https://api.fontshare.com/v2/css?f[]=switzer@2,1&f[]=supreme@2,1&f[]=jet-brains-mono@400&display=swap"');


:root {
  --clr-1: #052b2f;
  --clr-2: #032363;
  --clr-3: #2b5585;
  --clr-4: rgb(0, 120, 129);
  --clr-5: #052b2f;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


.katex {
  margin: auto;
	margin-top: 2rem;
  justify-items: center;
  	margin-bottom: 2rem;
}

.prose :where(strong):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-bold);
  font-weight: 800;
}

.prose :where(h2):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.0em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}


.card::before,
.card::after {
    height: 100%;
    width: 70%;
    content: "";
    position: absolute;
    inset: 20px;
    z-index: -1;
    background: conic-gradient(var(--clr-3),
            var(--clr-4),
            var(--clr-5),
            var(--clr-4),
            var(--clr-3));
    border-radius: inherit;

}

.card::after {
    filter: blur(1.4rem);
}





::selection {
  background: #9fadc0;
  opacity: 20;
}




.navigation li > a:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #0c4a6e;
}


.navigation li > a:hover::after {
  width: 100%;
  transition: width .6s;
}

.navigation > li > a {
   display: inline-block;
}

/*  CSS for screen size 768px and above */




.nav{ grid-area: nav; } 


 .timeline-container {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 50px;

  }


  .content{
  /* padding: 20px 30px; */
  display: flex;
    flex-direction: row;
    column-gap: 5%;
    text-align: justify;
}

.content > .time {
  font-family: 'JetBrains Mono','Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 10px;
min-width: 120px;
  /* Keep text within div */
  /* white-space: nowrap; */
text-align: right;
}
 

  .event>h4{
    font-family: 'JetBrains Mono','Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 12px;
    margin: 0;
    padding: 1%;
  }

  .event>h5{
    font-family: 'JetBrains Mono','Courier New', Courier, monospace;
    color: rgb(100 116 139);
    font-weight: bold;
    font-size: 12px;
    margin: 0;
 
    padding: 1%;
  }

  .event>p{
    font-size: 12px;
    padding: 1%;
    font-weight: 400;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    color: rgb(118, 128, 141);
  }
  .event>img{
    min-height: 70px;
  }
 
 

/* CSS for screen size 540px and below */
@media screen and (max-width: 540px) {
  .timeline-container {
    /* padding: 10px 40px; */
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 50px;
    /* Align the items in container to top */
  
    }


  .main{
    flex-direction: column;
    row-gap: 1rem;
    width: 100vw; 

   }

   .nav{
    display: none;
  }
   .about{
    padding-left: 0;
    padding: 2rem;
  }

   .intro{
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
 
   }
  .photo{
    width:70%;
    height:70%;
  }
  .name { padding-left: 0; text-align: center; }
}



/* CSS for tablet */
@media screen and (min-width: 540px) and (max-width: 1200px) {
 .main{
  flex-direction: column;
  row-gap: 1rem;
  width: 100vw; 

 }
 .intro {
  display: grid; 
  min-width: 80vw;
  row-gap: 2rem;  
  
 
}




}



